@mixin btn-prop {
    background: linear-gradient(113deg, #fff 50%, #0082C8 0);
    border: none;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background .2s ease-in-out;
    border-radius: 0;
    border: 1px solid var(--ss-primary);
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    width: 12.3rem;
    height: 4.3rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
}
@mixin btn-prop-hover {
    color: #0a0a0a;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
}
@mixin banner-prop {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin title-prop {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    position: relative;
    padding-left: 5rem;
    letter-spacing: 2px;
}
@mixin title-prop-before {
    content: '';
    width: 40px;
    height: 1px;
    background: var(--ss-primary);
    position: absolute;
    left: 0;
    top: 50%;
}
@mixin heading-prop {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    max-width: 60rem;
    line-height: 9rem;
    margin: 2rem 0rem;
}
