:root {
    --ss-oxanium: "Oxanium", serif;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #0082C8;
    --ss-secondary: #111B45;
  }

  $bg-primary-color:#0082C8;

  // background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
