@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
:root {
  --ss-oxanium: "Oxanium", serif;
  --ss-font500: 500;
  --ss-font600: 600;
  --ss-font700: 700;
  --ss-font800: 800;
  --ss-fontbold: bold;
  --ss-primary: #0082C8;
  --ss-secondary: #111B45;
}

body {
  font-family: var(--ss-oxanium);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  color: #b1b1b1;
  font-weight: 300;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.slick-slide img {
  display: inherit !important;
}

.p-100 {
  padding: 10rem 0rem;
}

.common_btn {
  background: linear-gradient(113deg, #fff 50%, #0082C8 0);
  border: none;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0;
  border: 1px solid var(--ss-primary);
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  width: 12.3rem;
  height: 4.3rem;
  text-transform: uppercase;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}

.common_btn:hover {
  color: #0a0a0a;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0rem !important;
}

/*shrink*/
.shrink {
  position: fixed;
  top: 0;
  width: 100%;
  transition-delay: 0.09s;
  z-index: 1;
  transition: 0.7s;
  animation: smoothScroll 1s forwards;
  z-index: 2;
  background-color: var(--ss-primary);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Header Area*/
.dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  vertical-align: middle;
  border: none;
}

.navbar-brand img {
  max-width: 12rem;
}

.top-bar {
  background-color: #000;
}
.top-bar p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #fff;
  padding: 0.9rem;
  font-weight: 300;
}

.middle-area {
  background-color: var(--ss-secondary);
  padding: 2.3rem 0rem;
}
.middle-area ul {
  flex-wrap: wrap;
}
.middle-area .logo img {
  max-width: 17.5rem;
}
.middle-area .search-area {
  margin: 0rem 2.8rem 0rem 4.3rem;
}
.middle-area .search-area input {
  width: 42.9rem;
  height: 5.1rem;
  border-radius: 0;
  border: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #767676;
}
.middle-area .search-area button {
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 2rem;
  color: #fff;
  background-color: var(--ss-primary);
  width: 5rem;
}
.middle-area .made-in-area img {
  max-width: 6.6rem;
}
.middle-area .made-in-area p {
  font-size: 2rem;
  line-height: 2.9rem;
  color: #fff;
  font-weight: 300;
}
.middle-area .made-in-area span {
  margin-left: 2rem;
}
.middle-area .top-contact {
  margin: 0rem 5.25rem 0rem 4.6rem;
}
.middle-area .top-contact ul li img {
  max-width: 3.85rem;
  margin: 0rem 1.4rem 0rem 0rem;
}
.middle-area .top-contact ul li h4, .middle-area .top-contact ul li h5 {
  color: #fff;
  font-weight: 200;
}
.middle-area .top-contact ul li h4 {
  font-size: 2.3rem;
  line-height: 3.4rem;
  font-weight: 300;
}
.middle-area .top-contact ul li h5 {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.middle-area .top-contact:after {
  content: "";
  position: absolute;
  right: -32px;
  top: 12px;
  background-color: #0D6898;
  width: 1px;
  height: 36px;
}
.middle-area .top-contact:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 12px;
  background-color: #0D6898;
  width: 1px;
  height: 36px;
}
.middle-area .cart-area .shopping-cart {
  margin-left: 2.2rem;
}
.middle-area .cart-area a span {
  position: absolute;
  background-color: var(--ss-primary);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -16px;
  top: -16px;
}

.header-area {
  padding: 1.8rem 0rem;
  z-index: 9999;
  background-color: var(--ss-primary);
}

.navbar-nav {
  margin-left: auto;
  align-items: center;
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
}

.navbar-expand-lg {
  padding: 0;
}
.navbar-expand-lg .navbar-brand {
  padding: 0;
  margin: 0;
}

<<<<<<< HEAD
/* Header Area*/
=======
.slick-dotted.slick-slider {
  margin-bottom: 0rem !important;
}

/* Banner Area*/
.banner-area .banner_slider {
  position: relative;
}
.banner-area .banner_slider .slider {
  background: url(../images/banner.png);
  padding: 16.7rem 0rem 10.8rem;
  background-position: center;
  background-size: cover;
}
.banner-area .banner_slider .slider .banner-left {
  position: relative;
}
.banner-area .banner_slider .slider .banner-left h2 {
  font-size: 6.6rem;
  line-height: 9.6rem;
  font-weight: bold;
}
.banner-area .banner_slider .slider .banner-left h3 {
  font-size: 4.5rem;
  line-height: 6.5rem;
  font-weight: 600;
}
.banner-area .banner_slider .slider .banner-left h4 {
  font-size: 3rem;
  line-height: 4.4rem;
  font-weight: 600;
}
.banner-area .banner_slider .slider .banner-left button {
  background: linear-gradient(113deg, #fff 50%, #0082C8 0);
  border: none;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0;
  border: 1px solid var(--ss-primary);
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  width: 12.3rem;
  height: 4.3rem;
  text-transform: uppercase;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  width: 17.5rem;
  height: 6rem;
  font-size: 2rem;
  border: none;
  font-weight: normal;
  margin-top: 2rem;
}
.banner-area .banner_slider .slider .banner-left button:hover {
  color: #0a0a0a;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}
.banner-area .banner_slider .slider .banner-right {
  float: right;
}
.banner-area .banner_slider .slider .banner-right img {
  max-width: 72.6rem;
}

.banner_slider:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: transparent linear-gradient(120deg, #FFDFC3 0%, rgba(250, 203, 165, 0) 100%) 0% 0% no-repeat;
}

>>>>>>> designing
/*Min Width*/
@media screen and (min-width: 992px) {
  .navbar-nav li:hover > ul.dropdown-menu {
    top: 173%;
    transform: scale(1, 1);
    padding: 0;
  }
  .header-area .tripod-area li a img {
    max-width: 22.9rem;
  }
  .header-area .quick-release-area li a img {
    max-width: 35.1rem;
  }
  .header-area .quick-release-area .quick-release-area-pic img {
    width: 208px;
  }
  .header-area .camera-mounting-area ul .l-brackets p {
    max-width: 26.3rem;
  }
  .header-area .camera-mounting-area ul .camera-plates p {
    max-width: 27.5rem;
  }
  .header-area .camera-mounting-area ul .smart-phone p {
    max-width: 29.4rem;
  }
  .header-area .camera-mounting-area ul li a img {
    max-width: 35.1rem;
  }
  .header-area .lens-mounting-area ul .lens-plate p {
    max-width: 28.3rem;
  }
  .header-area .lens-mounting-area ul .lens-collar p {
    max-width: 28.5rem;
  }
  .header-area .lens-mounting-area ul .lens-foot p {
    max-width: 28.5rem;
  }
  .header-area .lens-mounting-area ul li a img {
    max-width: 21.6rem;
  }
  .dropdown-menu {
    border: none;
    border-radius: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 300ms ease-in-out 0s;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
  }
  .dropdown-menu .dropdown-item {
    padding: 0;
  }
  .dropdown-menu .kes-leveling p {
    max-width: 25.6rem;
  }
  .dropdown-menu .monopod p {
    max-width: 23.1rem;
  }
  .dropdown-menu li {
    padding: 1rem;
  }
  .dropdown-menu li h4 {
    color: #000;
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
  }
  .dropdown-menu li p {
    color: #000;
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 31rem;
    margin-bottom: 2.1rem;
  }
  .dropdown-menu li button {
    background: linear-gradient(113deg, #fff 50%, #0082C8 0);
    border: none;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background 0.2s ease-in-out;
    border-radius: 0;
    border: 1px solid var(--ss-primary);
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    width: 12.3rem;
    height: 4.3rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .dropdown-menu li button:hover {
    color: #0a0a0a;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
  }
  .dropdown-menu li a {
    color: #000;
  }
  .navbar-nav li:hover > a::after {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out 0s;
  }
}
@media (min-width: 1199px) {
  .dropdown-menu li {
    padding: 0rem;
  }
  .dropdown-menu li h4 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: inherit;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
  }
}
/*Min Width*/
/*Max Width*/
@media (max-width: 1399px) {
  .middle-area .logo {
    width: 20%;
    margin: 0rem 0rem 3rem 0rem;
  }
  .middle-area .search-area {
    width: 60%;
    margin: 0rem 0rem 3rem 0rem;
  }
  .middle-area .search-area input {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 991px) {
  #navbarSupportedContent {
    overflow: scroll;
  }
  #navbarSupportedContent ul li {
    margin: 0rem 1rem;
  }
  .dropdown-menu li {
    padding: 1rem;
  }
  .dropdown-menu li h4, .dropdown-menu li p {
    margin-bottom: 1rem;
  }
  .dropdown-menu li button {
    background: linear-gradient(113deg, #fff 50%, #0082C8 0);
    border: none;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background 0.2s ease-in-out;
    border-radius: 0;
    border: 1px solid var(--ss-primary);
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    width: 12.3rem;
    height: 4.3rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .dropdown-menu li button:hover {
    color: #0a0a0a;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
  }
  .dropdown-item a {
    text-align: center;
  }
  .dropdown-item img {
    max-width: 10rem;
  }
  .navbar-nav {
    margin: 0rem 0rem;
    align-items: start;
  }
  .navbar-nav .nav-item {
    width: 100%;
    text-align: left;
    padding: 1rem 0rem;
  }
  .navbar-nav .nav-item .common_btn {
    margin-left: 0rem;
  }
  .navbar-nav .nav-item .nav-link {
    margin-left: 0rem;
    font-size: 1.6rem;
  }
  .navbar-nav .nav-item:last-child {
    border: none;
  }
  .dropdown-menu.show {
    padding: 0;
    background-color: none;
    border: none;
    border-radius: 0;
  }
  .line1 {
    top: 1.8rem;
    color: #fff;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line2 {
    top: 0.6rem;
    color: #fff;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line3 {
    top: -0.6rem;
    color: #fff;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .dropdown-menu li {
    border-bottom: 1px solid var(--ss-primary);
  }
  .dropdown-menu li .dropdown-item {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
  .dropdown-menu li a:hover {
    background-color: var(--ss-primary);
    color: #fff;
  }
  .dropdown-menu li a {
    color: #fff;
  }
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .p-100 {
    padding: 7rem 0rem;
  }
  .common-banner {
    padding: 7rem 0rem;
    border-bottom: 1px solid var(--ss-primary);
  }
  .common-banner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .middle-area .search-area {
    margin: inherit;
    margin-bottom: 2rem;
  }
  .middle-area .logo img {
    max-width: 15rem;
    margin-bottom: 0rem;
  }
  .middle-area .logo {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .top-bar p {
    font-size: 1.2rem;
  }
  #navbarSupportedContent ul li {
    margin: 0rem 0rem;
  }
  .navbar-nav {
    margin-top: 4rem;
  }
  .dropdown-menu.show {
    display: block;
  }
  .dropdown-menu li a img {
    max-width: 10rem;
  }
  .middle-area .logo {
    margin-bottom: 0rem;
  }
  .middle-area .cart-area .shopping-cart {
    margin-left: 1.2rem;
  }
  .middle-area .cart-area a span {
    right: inherit;
    left: -16px;
  }
  .middle-area .search-area {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .middle-area .search-area input {
    width: 100%;
  }
  .middle-area .logo img {
    max-width: 10rem;
    margin-bottom: 0rem;
  }
}
/*Max Width*//*# sourceMappingURL=main.css.map */