@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
:root {
  --ss-oxanium: "Oxanium", serif;
  --ss-font500: 500;
  --ss-font600: 600;
  --ss-font700: 700;
  --ss-font800: 800;
  --ss-fontbold: bold;
  --ss-primary: #0082C8;
  --ss-secondary: #111B45;
}

body {
  font-family: var(--ss-oxanium);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  color: #b1b1b1;
  font-weight: 300;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.slick-slide img {
  display: inherit !important;
}

.p-70 {
  padding: 7rem 0rem;
}

.p-100 {
  padding: 10rem 0rem;
}

.common_btn {
  background: linear-gradient(113deg, #fff 50%, #0082C8 0);
  border: none;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0;
  border: 1px solid var(--ss-primary);
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  width: 12.3rem;
  height: 4.3rem;
  text-transform: uppercase;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}

.common_btn:hover {
  color: #0a0a0a;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0rem !important;
}

.title-box ul li h2 {
  font-size: 3rem;
  line-height: 4.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.title-box ul li button {
  background: linear-gradient(113deg, #fff 50%, #0082C8 0);
  border: none;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0;
  border: 1px solid var(--ss-primary);
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  width: 12.3rem;
  height: 4.3rem;
  text-transform: uppercase;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}
.title-box ul li button:hover {
  color: #0a0a0a;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}

/*shrink*/
.shrink {
  position: fixed;
  top: 0;
  width: 100%;
  transition-delay: 0.09s;
  z-index: 1;
  transition: 0.7s;
  animation: smoothScroll 1s forwards;
  z-index: 2;
  background-color: var(--ss-primary);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Header Area*/
.dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  vertical-align: middle;
  border: none;
}

.navbar-expand-md {
  position: inherit;
}

.navbar-brand img {
  max-width: 12rem;
}

.navbar-expand-md {
  position: inherit;
}

.top-bar {
  background-color: #000;
}
.top-bar p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #fff;
  padding: 0.9rem;
  font-weight: 300;
}

.middle-area {
  background-color: var(--ss-secondary);
  padding: 2.3rem 0rem;
}
.middle-area ul {
  flex-wrap: wrap;
}
.middle-area .logo img {
  max-width: 17.5rem;
}
.middle-area .search-area {
  margin: 0rem 2.8rem 0rem 4.3rem;
}
.middle-area .search-area input {
  width: 42.9rem;
  height: 5.1rem;
  border-radius: 0;
  border: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #767676;
}
.middle-area .search-area button {
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 2rem;
  color: #fff;
  background-color: var(--ss-primary);
  width: 5rem;
}
.middle-area .made-in-area img {
  max-width: 6.6rem;
}
.middle-area .made-in-area p {
  font-size: 2rem;
  line-height: 2.9rem;
  color: #fff;
  font-weight: 300;
}
.middle-area .made-in-area span {
  margin-left: 2rem;
}
.middle-area .top-contact {
  margin: 0rem 5.25rem 0rem 4.6rem;
}
.middle-area .top-contact ul li img {
  max-width: 3.85rem;
  margin: 0rem 1.4rem 0rem 0rem;
}
.middle-area .top-contact ul li h4, .middle-area .top-contact ul li h5 {
  color: #fff;
  font-weight: 200;
}
.middle-area .top-contact ul li h4 {
  font-size: 2.3rem;
  line-height: 3.4rem;
  font-weight: 300;
}
.middle-area .top-contact ul li h5 {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
.middle-area .top-contact:after {
  content: "";
  position: absolute;
  right: -32px;
  top: 12px;
  background-color: #0D6898;
  width: 1px;
  height: 36px;
}
.middle-area .top-contact:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 12px;
  background-color: #0D6898;
  width: 1px;
  height: 36px;
}
.middle-area .cart-area .shopping-cart {
  margin-left: 2.2rem;
}
.middle-area .cart-area a span {
  position: absolute;
  background-color: var(--ss-primary);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -16px;
  top: -16px;
}

.header-area {
  padding: 1.8rem 0rem;
  position: relative;
  z-index: 9999;
  background-color: var(--ss-primary);
}

.navbar-nav {
  margin-left: auto;
  align-items: center;
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
}

.navbar-expand-lg {
  padding: 0;
}
.navbar-expand-lg .navbar-brand {
  padding: 0;
  margin: 0;
}

/* Header Area*/
/* Banner Area*/
.banner-area .banner_slider .slider {
  background: url(../images/banner.png);
  padding: 16.7rem 0rem 10.8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative !important;
}
.banner-area .banner_slider .slider .banner-left {
  position: relative;
}
.banner-area .banner_slider .slider .banner-left h2 {
  font-size: 6.6rem;
  line-height: 9.6rem;
  font-weight: bold;
}
.banner-area .banner_slider .slider .banner-left h3 {
  font-size: 4.5rem;
  line-height: 6.5rem;
  font-weight: 600;
}
.banner-area .banner_slider .slider .banner-left h4 {
  font-size: 3rem;
  line-height: 4.4rem;
  font-weight: 600;
}
.banner-area .banner_slider .slider .banner-left button {
  background: linear-gradient(113deg, #fff 50%, #0082C8 0);
  border: none;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0;
  border: 1px solid var(--ss-primary);
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  width: 12.3rem;
  height: 4.3rem;
  text-transform: uppercase;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  width: 17.5rem;
  height: 6rem;
  font-size: 2rem;
  border: none;
  font-weight: normal;
  margin-top: 2rem;
}
.banner-area .banner_slider .slider .banner-left button:hover {
  color: #0a0a0a;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}
.banner-area .banner_slider .slider .banner-right {
  float: right;
  position: relative;
}
.banner-area .banner_slider .slider .banner-right img {
  max-width: 72.6rem;
  width: 100%;
}
.banner-area .banner_slider .slider:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 80rem;
  bottom: 0;
  background: transparent linear-gradient(87deg, #FFDFC3 0%, rgba(250, 203, 165, 0) 100%) 0% 0% no-repeat;
}
.banner-area .banner_slider .slick-dots {
  bottom: 3.5rem;
}
.banner-area .banner_slider .slick-dots .slick-active button {
  background-color: #fff;
}
.banner-area .banner_slider .slick-dots li {
  margin: 0rem 4rem 0rem 2rem;
  height: 0;
}
.banner-area .banner_slider .slick-dots li button {
  font-size: 0;
  width: 50px;
  height: 3px;
  padding: 1px;
  background: #000;
  margin: 0 auto;
  border-radius: 5px;
}
.banner-area .banner_slider .slick-dots li button:before {
  display: none;
}

/* Banner Area*/
/* Category Area*/
.category-area .category_slider .slider {
  text-align: center;
}
.category-area .category_slider .slider .cat-pic {
  width: 20rem;
  height: 20rem;
  border: 4px solid var(--ss-primary);
  padding: 4.6rem 4.1rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}
.category-area .category_slider .slider .cat-pic img {
  transition: all 250ms ease-in-out;
}
.category-area .category_slider .slider .cat-pic img:hover {
  transform: scale(1.4);
  transition: all 0.15s ease-in-out 0s;
}
.category-area .category_slider .slider h4 {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.category-area .category_slider .slider a {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 600;
  color: var(--ss-primary);
  text-transform: uppercase;
  text-decoration: underline;
}

/* Category Area*/
/* Best Seller Area*/
.best-seller-area {
  padding-bottom: 8.7rem;
}
.best-seller-area .best_product_slider {
  margin-top: 3.3rem;
}
.best-seller-area .best_product_slider .slider {
  margin: 0rem 1.6rem;
}
.best-seller-area .best_product_slider .product-pic {
  padding: 6.7rem 3.4rem;
  border: 1px solid #D0D0D0;
  margin-bottom: 2.4rem;
  width: 30.6rem;
  transition: all 0.5s ease-out 0s;
}
.best-seller-area .best_product_slider .product-pic img {
  width: 23.8rem;
  height: 23.8rem;
}
.best-seller-area .best_product_slider .product-pic .normal-pic img {
  transition: all 0.5s ease-out 0s;
}
.best-seller-area .best_product_slider .product-pic .hover-pic img {
  display: none !important;
  transition: all 0.5s ease-out 0s;
}
.best-seller-area .best_product_slider .product-pic .hover-box {
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
  transform-origin: 50% 100% 0px;
  transform: perspective(600px) rotateX(90deg);
}
.best-seller-area .best_product_slider .product-pic .hover-box ul {
  justify-content: space-between;
}
.best-seller-area .best_product_slider .product-pic .hover-box li {
  width: 100%;
}
.best-seller-area .best_product_slider .product-pic .hover-box li button {
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
  line-height: 2.3;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
.best-seller-area .best_product_slider .product-pic .hover-box li .quick-view {
  background-color: var(--ss-primary);
}
.best-seller-area .best_product_slider .product-pic .hover-box li .add-cart {
  background-color: var(--ss-secondary);
}
.best-seller-area .best_product_slider .product-pic:hover .normal-pic img {
  display: none !important;
  transition: all 250ms ease-in-out;
}
.best-seller-area .best_product_slider .product-pic:hover .hover-pic img {
  display: block !important;
  transition: all 250ms ease-in-out;
}
.best-seller-area .best_product_slider .product-pic:hover .hover-box {
  transform: translate3d(0, 0, 0);
}
.best-seller-area .best_product_slider .product-content ul li i {
  width: 1.8rem;
  height: 1.68rem;
  color: #E8B52B;
  font-weight: 600;
}
.best-seller-area .best_product_slider .product-content h4 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 1rem 0rem;
  font-weight: 500;
}
.best-seller-area .best_product_slider .product-content p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 0rem 0rem 1.1rem;
  font-weight: 400;
  color: #000;
}
.best-seller-area .best_product_slider .product-content h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 600;
}

/* Best Seller Area*/
/* Panorama Area*/
.panorama-area {
  background-color: #F2F2F2;
  overflow: hidden;
}
.panorama-area .panorama-left {
  position: relative;
}
.panorama-area .panorama-left .panorama-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0rem;
  width: 6.5rem;
  background-color: var(--ss-secondary);
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.2rem;
  text-align: center;
}
.panorama-area .panorama-left img {
  max-width: 45.4rem;
  width: 100%;
}
.panorama-area .panorama-left .break-all {
  word-break: break-all;
}
.panorama-area .panorama-left .w-min {
  width: -moz-min-content;
  width: min-content;
}
.panorama-area .panorama_slider .slick-dots {
  bottom: -5rem;
  text-align: left;
}
.panorama-area .panorama_slider .slick-dots .slick-active button {
  background-color: var(--ss-primary);
}
.panorama-area .panorama_slider .slick-dots li {
  margin: 0rem 5rem 0rem 0rem;
  height: 0;
}
.panorama-area .panorama_slider .slick-dots li button {
  font-size: 0;
  width: 50px;
  height: 3px;
  padding: 1px;
  background: #D5D5D5;
  margin: 0 auto;
  border-radius: 5px;
}
.panorama-area .panorama_slider .slick-dots li button:before {
  display: none;
}
.panorama-area .panorama_slider .slick-slide {
  opacity: 0;
  margin-right: 3.2rem;
}
.panorama-area .panorama_slider .slick-current, .panorama-area .panorama_slider .slick-active {
  opacity: 1;
}
.panorama-area .panorama_slider .slick-active + .slick-slide {
  opacity: 1;
}
.panorama-area .panorama_slider .slick-list.draggable {
  overflow: visible;
}
.panorama-area .panorama_slider .panorama-right {
  padding-left: 4.3rem;
}
.panorama-area .panorama_slider .product-pic {
  padding: 6.7rem 3.4rem;
  border: 1px solid #D0D0D0;
  background-color: #fff;
  margin-bottom: 2.4rem;
  transition: all 0.5s ease-out 0s;
}
.panorama-area .panorama_slider .product-pic img {
  width: 23.8rem;
  height: 23.8rem;
}
.panorama-area .panorama_slider .product-pic .normal-pic img {
  transition: all 0.5s ease-out 0s;
}
.panorama-area .panorama_slider .product-pic .hover-pic img {
  display: none !important;
  transition: all 0.5s ease-out 0s;
}
.panorama-area .panorama_slider .product-pic .hover-box {
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
  transform-origin: 50% 100% 0px;
  transform: perspective(600px) rotateX(90deg);
}
.panorama-area .panorama_slider .product-pic .hover-box ul {
  justify-content: space-between;
}
.panorama-area .panorama_slider .product-pic .hover-box li {
  width: 100%;
}
.panorama-area .panorama_slider .product-pic .hover-box li button {
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
  line-height: 2.3;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
.panorama-area .panorama_slider .product-pic .hover-box li .quick-view {
  background-color: var(--ss-primary);
}
.panorama-area .panorama_slider .product-pic .hover-box li .add-cart {
  background-color: var(--ss-secondary);
}
.panorama-area .panorama_slider .product-pic:hover .normal-pic img {
  display: none !important;
  transition: all 250ms ease-in-out;
}
.panorama-area .panorama_slider .product-pic:hover .hover-pic img {
  display: block !important;
  transition: all 250ms ease-in-out;
}
.panorama-area .panorama_slider .product-pic:hover .hover-box {
  transform: translate3d(0, 0, 0);
}
.panorama-area .panorama_slider .product-content ul li i {
  width: 1.8rem;
  height: 1.68rem;
  color: #E8B52B;
  font-weight: 600;
}
.panorama-area .panorama_slider .product-content h4 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 1rem 0rem;
  font-weight: 500;
}
.panorama-area .panorama_slider .product-content p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 0rem 0rem 1.1rem;
  font-weight: 400;
  color: #000;
}
.panorama-area .panorama_slider .product-content h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 600;
}

/* Panorama Area*/
/* exceptional Area*/
.exceptional-area {
  background-color: var(--ss-primary);
  padding: 5rem 0rem;
}
.exceptional-area li {
  text-align: center;
  color: #fff;
}
.exceptional-area li img {
  max-width: 6.7rem;
  max-height: 6.7rem;
  margin: 0 auto;
}
.exceptional-area li h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  text-transform: uppercase;
  margin: 2.8rem 0rem 1.2rem;
}
.exceptional-area li p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  max-width: 27.3rem;
  color: #fff;
  margin: 0 auto;
  font-weight: 300;
}

/* exceptional Area*/
/* expertise Area*/
.expertise-area {
  background: url(../images/expertise.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11.7rem 0rem 11.1rem;
}
.expertise-area .expertise-box {
  max-width: 69.7rem;
  float: right;
}
.expertise-area .expertise-box h3 {
  font-size: 4rem;
  line-height: 5.8rem;
  color: #fff;
  font-weight: bold;
}
.expertise-area .expertise-box p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
  font-weight: 300;
  margin-top: 1.7rem;
}

/* expertise Area*/
/* Who we are Area*/
.who-we-are-area .who-we-are-left {
  background: url(../images/who-we-are.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.who-we-are-area .reliable-right {
  background: url(../images/reliable.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.who-we-are-area .who-we-are-right, .who-we-are-area .reliable-left {
  padding: 11.8rem 6rem 8.4rem;
  background-color: var(--ss-secondary);
  color: #fff;
}
.who-we-are-area .who-we-are-right h3, .who-we-are-area .reliable-left h3 {
  font-size: 3rem;
  line-height: 4.4rem;
  margin-bottom: 2.6rem;
  text-transform: uppercase;
}
.who-we-are-area .who-we-are-right p, .who-we-are-area .reliable-left p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 57.6rem;
  color: #fff;
}
.who-we-are-area .who-we-are-right p:last-child, .who-we-are-area .reliable-left p:last-child {
  margin-top: 2rem;
}
.who-we-are-area .reliable-left {
  background-color: var(--ss-primary);
}

/* Who we are Area*/
/* Instagram Area*/
.instagram-feed .title-box {
  padding: 4.4rem 0rem;
}

/* Instagram Area*/
/* Footer Area*/
.footer-area {
  color: #fff;
  background-color: var(--ss-primary);
}
.footer-area .footer-left {
  max-width: 48rem;
  background-color: var(--ss-secondary);
  padding: 6.9rem 5.3rem 4.1rem 6rem;
}
.footer-area .footer-left h3 {
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: #fff;
  margin: 2.8rem 0rem 1.4rem;
}
.footer-area .footer-left p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fff;
  max-width: 31rem;
  font-weight: 400;
}
.footer-area .footer-left .submitting-text {
  font-size: 1.1rem;
  line-height: 2rem;
  max-width: 36.7rem;
}
.footer-area .footer-left .submitting-text a {
  text-decoration: underline;
  color: #fff;
}
.footer-area .footer-left form {
  margin: 4.2rem 0rem 2.5rem;
}
.footer-area .footer-left form input {
  position: relative;
  width: 100%;
  max-width: 35.6rem;
  height: 5rem;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  padding-left: 1.3rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  background-color: transparent;
}
.footer-area .footer-left form button {
  right: 0rem;
  top: 0;
  bottom: 0;
  border: none;
  width: 11rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #fff;
  background-color: var(--ss-primary);
  text-transform: uppercase;
}
.footer-area .footer-left .copyright-text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: 3.4rem;
}
.footer-area .footer-right {
  max-width: 96rem;
  margin: 0 auto;
  padding: 8.3rem 6rem 3.8rem 4.5rem;
}
.footer-area .footer-right h4 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer-area .footer-right ul li a {
  font-size: 1.4rem;
  line-height: 3rem;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}
.footer-area .footer-right ul li p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #fff;
  margin-bottom: 2rem;
  max-width: 15rem;
}
.footer-area .footer-right .footer-hours p {
  max-width: 18.3rem;
}
.footer-area .footer-right .product-warranty {
  padding-top: 5rem;
}
.footer-area .footer-right .product-warranty h6 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}
.footer-area .footer-right .footer-menus {
  padding-bottom: 4.5rem;
}
.footer-area .footer-right .footer-bottom {
  border-top: 1px solid #2DA2E2;
}
.footer-area .footer-right .footer-bottom p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: 400;
  margin-top: 2.2rem;
}
.footer-area .footer-right .footer-bottom .accept-cards {
  text-align: right;
  margin-top: 6rem;
}

/*Min Width*/
@media screen and (min-width: 768px) {
  .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: inherit;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .navbar-nav li:hover > ul.dropdown-menu {
    top: 100%;
    transform: scale(1, 1);
    padding: 0;
  }
  .header-area .tripod-area li a img {
    max-width: 22.9rem;
  }
  .header-area .quick-release-area li a img {
    max-width: 35.1rem;
  }
  .header-area .quick-release-area .quick-release-area-pic img {
    width: 208px;
  }
  .header-area .camera-mounting-area ul .l-brackets p {
    max-width: 26.3rem;
  }
  .header-area .camera-mounting-area ul .camera-plates p {
    max-width: 27.5rem;
  }
  .header-area .camera-mounting-area ul .smart-phone p {
    max-width: 29.4rem;
  }
  .header-area .camera-mounting-area ul li a img {
    max-width: 35.1rem;
  }
  .header-area .lens-mounting-area ul .lens-plate p {
    max-width: 28.3rem;
  }
  .header-area .lens-mounting-area ul .lens-collar p {
    max-width: 28.5rem;
  }
  .header-area .lens-mounting-area ul .lens-foot p {
    max-width: 28.5rem;
  }
  .header-area .lens-mounting-area ul li a img {
    max-width: 21.6rem;
  }
  .dropdown-menu {
    border: none;
    border-radius: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 300ms ease-in-out 0s;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
  }
  .dropdown-menu .dropdown-item {
    padding: 0;
  }
  .dropdown-menu .kes-leveling p {
    max-width: 25.6rem;
  }
  .dropdown-menu .monopod p {
    max-width: 23.1rem;
  }
  .dropdown-menu li {
    padding: 1rem;
  }
  .dropdown-menu li h4 {
    color: #000;
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
  }
  .dropdown-menu li p {
    color: #000;
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 31rem;
    margin-bottom: 2.1rem;
  }
  .dropdown-menu li button {
    background: linear-gradient(113deg, #fff 50%, #0082C8 0);
    border: none;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background 0.2s ease-in-out;
    border-radius: 0;
    border: 1px solid var(--ss-primary);
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    width: 12.3rem;
    height: 4.3rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .dropdown-menu li button:hover {
    color: #0a0a0a;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
  }
  .dropdown-menu li a {
    color: #000;
  }
  .navbar-nav li:hover > a::after {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out 0s;
  }
}
@media (min-width: 1199px) {
  .dropdown-menu li {
    padding: 0rem;
  }
  .dropdown-menu li h4 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
  }
  .who-we-are-area .who-we-are-right, .who-we-are-area .reliable-left {
    height: inherit;
  }
  .who-we-are-area .who-we-are-right p, .who-we-are-area .reliable-left p {
    max-width: inherit;
  }
  .panorama-area .panorama-left img {
    max-width: 100%;
  }
  .panorama-area .panorama-left .panorama-text {
    right: 0;
  }
}
@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1620px;
  }
  .best-seller-area .best_product_slider .product-pic {
    width: 100%;
  }
}
/*Min Width*/
/*Max Width*/
@media (max-width: 1399px) {
  .middle-area .logo {
    width: 20%;
    margin: 0rem 0rem 3rem 0rem;
  }
  .middle-area .search-area {
    width: 60%;
    margin: 0rem 0rem 3rem 0rem;
  }
  .middle-area .search-area input {
    width: 100%;
  }
  .best-seller-area .best_product_slider .product-pic {
    width: 100%;
  }
  .best-seller-area .best_product_slider .product-pic img {
    width: auto;
    height: auto;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box li button {
    font-size: 1.2rem;
  }
  .panorama-area .panorama-left img {
    width: 100%;
  }
  .panorama-area .panorama-left .panorama-text {
    right: 0;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .panorama-area .panorama_slider {
    margin-top: 2rem;
  }
  .panorama-area .panorama_slider .product-pic img {
    width: auto;
    height: auto;
  }
  .exceptional-area li {
    border: 1px solid;
    color: #fff;
    padding: 1rem;
    height: 30rem;
  }
  .exceptional-area li h3 {
    font-size: 1.5rem;
  }
  .exceptional-area li p {
    max-width: 18rem;
  }
  .who-we-are-area .who-we-are-right, .who-we-are-area .reliable-left {
    height: inherit;
    padding: 7rem 4rem;
  }
}
@media (max-width: 1199px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
  .panorama-area .panorama-left .panorama-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .panorama-area .panorama_slider .product-pic .hover-box li button {
    font-size: 1.3rem;
  }
  .who-we-are-area .who-we-are-right h3, .who-we-are-area .reliable-left h3 {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  #navbarSupportedContent {
    overflow: scroll;
  }
  #navbarSupportedContent ul li {
    margin: 0rem 1rem;
  }
  .dropdown-menu li {
    padding: 1rem;
  }
  .dropdown-menu li h4, .dropdown-menu li p {
    margin-bottom: 1rem;
  }
  .dropdown-menu li button {
    background: linear-gradient(113deg, #fff 50%, #0082C8 0);
    border: none;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background 0.2s ease-in-out;
    border-radius: 0;
    border: 1px solid var(--ss-primary);
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    width: 12.3rem;
    height: 4.3rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .dropdown-menu li button:hover {
    color: #0a0a0a;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
  }
  .dropdown-item a {
    text-align: center;
  }
  .dropdown-item img {
    max-width: 10rem;
  }
  .navbar-nav {
    margin: 0rem 0rem;
    align-items: start;
  }
  .navbar-nav .nav-item {
    width: 100%;
    text-align: left;
    padding: 1rem 0rem;
  }
  .navbar-nav .nav-item .common_btn {
    margin-left: 0rem;
  }
  .navbar-nav .nav-item .nav-link {
    margin-left: 0rem;
    font-size: 1.6rem;
  }
  .navbar-nav .nav-item:last-child {
    border: none;
  }
  .dropdown-menu.show {
    padding: 0;
    background-color: none;
    border: none;
    border-radius: 0;
  }
  .line1 {
    top: 3.1rem;
    color: #fff;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line2 {
    top: 2.2rem;
    color: #fff;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line3 {
    top: 1.2rem;
    color: #fff;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-secondary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .dropdown-menu li {
    border-bottom: 1px solid var(--ss-primary);
  }
  .dropdown-menu li .dropdown-item {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
  .dropdown-menu li a:hover {
    background-color: var(--ss-primary);
    color: #fff;
  }
  .dropdown-menu li a {
    color: #fff;
  }
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .p-100 {
    padding: 7rem 0rem;
  }
  .common-banner {
    padding: 7rem 0rem;
    border-bottom: 1px solid var(--ss-primary);
  }
  .common-banner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .header-area {
    padding: 0rem;
  }
  .middle-area .search-area {
    margin: inherit;
    margin-bottom: 2rem;
  }
  .middle-area .logo img {
    max-width: 15rem;
    margin-bottom: 0rem;
  }
  .middle-area .logo {
    margin-bottom: 2rem;
  }
  .banner-area .banner_slider .slick-dots {
    bottom: 2.5rem;
  }
  .banner-area .banner_slider .slider {
    padding: 6rem 0rem;
  }
  .banner-area .banner_slider .slider .banner-left h2 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
  .banner-area .banner_slider .slider .banner-left h3 {
    font-size: 3rem;
    line-height: inherit;
  }
  .banner-area .banner_slider .slider .banner-left h4 {
    font-size: 2rem;
    line-height: inherit;
  }
  .banner-area .banner_slider .slider .banner-left button {
    width: 15rem;
    height: 5rem;
    font-size: 1.7rem;
  }
  .banner-area .banner_slider .slider .banner-right img {
    max-width: 26rem;
  }
  .best-seller-area .best_product_slider .product-pic {
    padding: 2.5rem 1.5rem;
    width: auto;
  }
  .best-seller-area .best_product_slider .product-pic img {
    width: auto;
    height: auto;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box {
    width: 100%;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box ul {
    justify-content: space-between;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box li {
    width: 100%;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box li button {
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
  }
  .panorama-area .panorama-left .panorama-text {
    width: 4.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .panorama-area .panorama_slider {
    margin-bottom: 1rem;
  }
  .panorama-area .panorama_slider .product-pic {
    padding: 4rem;
  }
  .panorama-area .panorama_slider .product-pic .hover-box li button {
    font-size: 1rem;
    height: 3rem;
  }
  .exceptional-area li {
    height: auto;
  }
  .expertise-area {
    padding: 5rem 0rem 5rem;
  }
  .expertise-area .expertise-box {
    max-width: 69.7rem;
  }
  .expertise-area .expertise-box h3 {
    font-size: 3rem;
    line-height: 4.8rem;
  }
  .expertise-area .expertise-box p {
    margin-top: 1rem;
  }
  .who-we-are-area .who-we-are-right, .who-we-are-area .reliable-left {
    height: inherit;
    padding: 4rem;
  }
  .who-we-are-area .who-we-are-right h3, .who-we-are-area .reliable-left h3 {
    font-size: 2rem;
    line-height: 3.4rem;
  }
  .who-we-are-area .who-we-are-right p, .who-we-are-area .reliable-left p {
    font-size: 1.4rem;
  }
  .footer-area .footer-left {
    max-width: 100%;
  }
  .footer-area .footer-left .form-group {
    max-width: 35.6rem;
  }
  .footer-area .footer-left .submitting-text {
    max-width: 100%;
  }
  .footer-area .footer-right h4 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .top-bar p {
    font-size: 1.2rem;
  }
  #navbarSupportedContent ul li {
    margin: 0rem 0rem;
  }
  .navbar-nav {
    margin-top: 4rem;
  }
  .dropdown-menu.show {
    display: block;
  }
  .dropdown-menu li a img {
    max-width: 10rem;
  }
  .header-area {
    padding: 2rem 0rem;
  }
  .middle-area .logo {
    margin-bottom: 0rem;
  }
  .middle-area .cart-area .shopping-cart {
    margin-left: 1.2rem;
  }
  .middle-area .cart-area a span {
    right: inherit;
    left: -16px;
  }
  .middle-area .search-area {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .middle-area .search-area input {
    width: 100%;
  }
  .middle-area .logo img {
    max-width: 10rem;
    margin-bottom: 0rem;
  }
  .banner-area .banner_slider .slick-dots {
    bottom: 3.5rem;
  }
  .banner-area .banner_slider .slick-dots li {
    margin: 0rem 3rem 0rem 1rem;
  }
  .banner-area .banner_slider .slick-dots li button {
    width: 4rem;
  }
  .banner-area .banner_slider .slider {
    padding: 5.5rem 0rem 10rem;
  }
  .banner-area .banner_slider .slider .banner-left {
    text-align: center;
  }
  .banner-area .banner_slider .slider .banner-left h2 {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
  .banner-area .banner_slider .slider .banner-left h3 {
    font-size: 2.6rem;
    line-height: 4.6rem;
  }
  .banner-area .banner_slider .slider .banner-left h4 {
    font-size: 2rem;
    line-height: 3.6rem;
  }
  .banner-area .banner_slider .slider .banner-left button {
    width: 100%;
    max-width: 20rem;
    height: 5rem;
  }
  .banner-area .banner_slider .slider .banner-right {
    float: none;
  }
  .banner-area .banner_slider .slider .banner-right img {
    margin: 0 auto;
  }
  .category-area .category_slider .slider .cat-pic {
    width: 15rem;
    height: 15rem;
  }
  .best-seller-area .best_product_slider .product-pic {
    padding: 2.5rem 0.5rem;
  }
  .best-seller-area .best_product_slider .product-pic img {
    width: auto;
    height: auto;
  }
  .best-seller-area .best_product_slider .product-pic .hover-box li button {
    font-size: 0.9rem;
  }
  .panorama-area .panorama-left .panorama-text {
    line-height: 15px;
    width: 4.5rem;
    font-size: 1rem;
  }
  .panorama-area .panorama-left img {
    max-width: inherit;
  }
  .panorama-area .panorama_slider .slick-dots {
    bottom: -4rem;
    text-align: center;
  }
  .panorama-area .panorama_slider .slick-dots li {
    margin: 0rem 2rem 0rem 2rem;
  }
  .panorama-area .panorama_slider .product-pic {
    padding: 3rem 1rem;
  }
  .panorama-area .panorama_slider .product-pic .hover-box li button {
    font-size: 0.8rem;
  }
  .exceptional-area li {
    height: auto;
  }
  .expertise-area .expertise-box h3 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .who-we-are-area .who-we-are-left, .who-we-are-area .reliable-right {
    height: 100vh;
  }
  .footer-area .footer-left {
    padding: 4.3rem 3rem 3.8rem 3rem;
  }
  .footer-area .footer-right {
    padding: 4.3rem 3rem 3.8rem 3rem;
  }
  .footer-area .footer-right h4 {
    margin-bottom: 1rem;
  }
  .footer-area .footer-right .product-warranty {
    padding-top: 3rem;
  }
  .footer-area .footer-right .footer-menus {
    padding-bottom: 1rem;
  }
  .footer-area .footer-right .footer-bottom .accept-cards {
    text-align: center;
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .panorama-area {
    padding: 4rem 0rem 7rem;
  }
  .panorama-area .panorama-left {
    text-align: center;
  }
  .panorama-area .panorama-left .panorama-text {
    line-height: 2.5rem;
    width: 4.5rem;
    font-size: 1.4rem;
  }
  .panorama-area .panorama_slider .slick-slide {
    margin-right: 5rem;
  }
  .title-box ul li h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .p-70 {
    padding: 3rem 0rem;
  }
}
/*Max Width*//*# sourceMappingURL=main.css.map */