@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import "mixin";
@import "var";


//   @font-face {
//     font-family: "CartoGothicStd";
//     font-display: swap;
//     src: url(../fonts/CartoGothicStd-BoldItalic-5d8ce2ed9c4d2e6dc8c149fa5de7d0174b6b98d4a912acd57b7adf739d7ff9e1.eot);
//     src: local("CartoGothic Std Bold Italic"), local("CartoGothicStd-BoldItalic"),
//       url(../fonts/CartoGothicStd-BoldItalic-5d8ce2ed9c4d2e6dc8c149fa5de7d0174b6b98d4a912acd57b7adf739d7ff9e1.eot?#iefix)
//         format("embedded-opentype"),
//       url(../fonts/CartoGothicStd-BoldItalic-cc4474141c8d3ca3052d2aaf51ded4d47e5e8543246b25dcf6c55731356b560a.woff2)
//         format("woff2"),
//       url(../fonts/CartoGothicStd-BoldItalic-d6c0f6265b8a7609f3e802f9926d7d14a24ebcf3fa29397023331cb64097fed8.woff)
//         format("woff"),
//       url(../fonts/CartoGothicStd-BoldItalic-530baed42e366f9fd9102c154333b5a3c8f27b1250a46cf9b42e4d6b48540076.ttf)
//         format("truetype");
//     font-weight: bold;
//     font-style: italic;
//   }

body {
    font-family: var(--ss-oxanium);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
p {
    font-size: 1.6rem;
    color: #b1b1b1;
    font-weight: 300;
    line-height: 2.5rem;
}
a {
    text-decoration: none;
    color: #1d1d1d;
}
.slick-slide img {
    display: inherit !important;
}
.p-70 {
    padding: 7rem 0rem;
}
.p-100 {
    padding: 10rem 0rem;
}
.common_btn {
    @include btn-prop;
}
.common_btn:hover {
    @include btn-prop-hover;
}
.slick-dotted.slick-slider {
    margin-bottom: 0rem !important;
}
.title-box {
    ul {
        li {
            h2 {
                font-size: 3rem;
                line-height: 4.4rem;
                text-transform: uppercase;
                font-weight: bold;
            }
            button {
                @include btn-prop;
            }
            button:hover {
                @include btn-prop-hover;
            }
        }
    }
}

/*shrink*/
.shrink {
    position: fixed;
    top: 0;
    width: 100%;
    transition-delay: 0.09s;
    z-index: 1;
    transition: 0.7s;
    animation: smoothScroll 1s forwards;
    z-index: 2;
    background-color: var(--ss-primary);
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* Header Area*/
.dropdown-toggle::after {
    content: "\f107";
    font-family: 'FontAwesome';
    vertical-align: middle;
    border: none;
}
.navbar-expand-md {
    position: inherit;
}
.navbar-brand {
    img {
        max-width: 12rem;
    }
}
.navbar-expand-md {
    position: inherit;
}
.top-bar {
    background-color: #000;
    p {
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #fff;
        padding: 0.9rem;
        font-weight: 300;
    }
}
.middle-area {
    ul {
        flex-wrap: wrap;
    }
    background-color: var(--ss-secondary);
    padding: 2.3rem 0rem;
    .logo {
        img {
            max-width: 17.5rem;
        }
    }
    .search-area {
        margin: 0rem 2.8rem 0rem 4.3rem;
        input {
            width: 42.9rem;
            height: 5.1rem;
            border-radius: 0;
            border: none;
            padding-left: 2rem;
            font-size: 1.5rem;
            line-height: 2.2rem;
            color: #767676;
        }
        button {
            top: 0;
            bottom: 0;
            right: 0;
            border: none;
            font-size: 2rem;
            color: #fff;
            background-color: var(--ss-primary);
            width: 5rem;
        }
    }
    .made-in-area {
        img {
            max-width: 6.6rem;
        }
        p {
            font-size: 2rem;
            line-height: 2.9rem;
            color: #fff;
            font-weight: 300;
        }
        span {
            margin-left: 2rem;
        }
    }
    .top-contact {
        margin: 0rem 5.25rem 0rem 4.6rem;
        ul {
            li {
                img {
                    max-width: 3.85rem;
                    margin: 0rem 1.4rem 0rem 0rem;
                } 
                h4,h5 {
                    color: #fff;
                    font-weight: 200;
                }
                h4 {
                    font-size: 2.3rem;
                    line-height: 3.4rem;
                    font-weight: 300;
                }
                h5 {
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                }
            }
        }
    }
    .top-contact:after {
        content: "";
        position: absolute;
        right: -32px;
        top: 12px;
        background-color: #0D6898;
        width: 1px;
        height: 36px;
    }
    .top-contact:before {
        content: "";
        position: absolute;
        left: -20px;
        top: 12px;
        background-color: #0D6898;
        width: 1px;
        height: 36px;
    }
    .cart-area {
        .shopping-cart {
            margin-left: 2.2rem;
        }
        a {
            span {
                position: absolute;
                background-color: var(--ss-primary);
                color: #fff;
                padding: 1rem;
                border-radius: 50%;
                width: 2.6rem;
                height: 2.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                right: -16px;
                top: -16px;
            }
        }
    }
}
.header-area {
    padding: 1.8rem 0rem;
    position: relative;
    z-index: 9999;
    background-color:var(--ss-primary);
}
.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 1.6rem;
            color: #fff;
            padding: 0;
            text-transform: uppercase;
            // margin: 0rem 2rem;
        }
    }
    margin-left: auto;
    align-items: center;
}
.navbar-expand-lg {
    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    padding: 0;
}
/* Header Area*/





/* Banner Area*/
.banner-area {
    .banner_slider {
        .slider {
            background: url(../images/banner.png);
            padding: 16.7rem 0rem 10.8rem;
            @include banner-prop;
            position: relative !important;
            .banner-left {
                position: relative;
                h2 {
                    font-size: 6.6rem;
                    line-height: 9.6rem;
                    font-weight: bold;
                }
                h3 {
                    font-size: 4.5rem;
                    line-height: 6.5rem;
                    font-weight: 600;
                }
                h4 {
                    font-size: 3rem;
                    line-height: 4.4rem;
                    font-weight: 600;
                }
                button {
                    @include btn-prop;
                    width: 17.5rem;
                    height: 6rem;
                    font-size: 2rem;
                    border: none;
                    font-weight: normal;
                    margin-top: 2rem;
                }
                button:hover {
                    @include btn-prop-hover;
                }
            }
            .banner-right {
                float: right;
                position: relative;
                img {
                    max-width: 72.6rem;
                    width: 100%;
                }
            }
        }
        .slider:before {
            position: absolute;
            content: "";
            top: 0;
            left: -0;
            width: 80rem;
            bottom: 0;
            background: transparent linear-gradient(87deg, #FFDFC3 0%, rgba(250, 203, 165, 0) 100%) 0% 0% no-repeat;
        }
        .slick-dots {
            bottom: 3.5rem;
            .slick-active {
                button {
                    background-color: #fff;
                }
            }
            li {
                margin: 0rem 2rem;
                height: 0;
                button {
                    font-size: 0;
                    width: 50px;
                    height: 3px;
                    padding: 1px;
                    background: #000;
                    margin: 0 auto;
                    border-radius: 5px;
                }
            }
        }
        .slick-dots li button:before {
            display: none;
        }
    }
}

/* Banner Area*/

/* Category Area*/
.category-area {
    .category_slider {
        .slider {
            text-align: center;
            .cat-pic {
                width: 20rem;
                height: 20rem;
                border: 4px solid var(--ss-primary);
                padding: 4.6rem 4.1rem;
                border-radius: 50%;
                margin-bottom: 2.4rem;
                margin-left: auto;
                margin-right: auto;
                img {
                    transition: all 250ms ease-in-out;
                }
                img:hover {
                    transform: scale(1.4);
                    transition: all 0.15s ease-in-out 0s;
                }
            }
            h4 {
                font-size: 1.7rem;
                line-height: 2.4rem;
                font-weight: 600;
            }
            a {
                font-size: 1.3rem;
                line-height: 1.9rem;
                font-weight: 600;
                color: var(--ss-primary);
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
}
/* Category Area*/

/* Best Seller Area*/
.best-seller-area {
    padding-bottom: 8.7rem;
    .best_product_slider {
        margin-top: 3.3rem;
        .slider {
            margin: 0rem 1.6rem;
        }
        .product-pic {
            padding: 6.7rem 3.4rem;
            border: 1px solid #D0D0D0;
            margin-bottom: 2.4rem;
            width: 30.6rem;
            transition: all 0.5s ease-out 0s;
            img {
                width: 23.8rem;
                height: 23.8rem;
            }
            .normal-pic {
                img {
                    transition: all 0.5s ease-out 0s;
                }
            }
            .hover-pic {
                img {
                    display: none !important;
                    transition: all 0.5s ease-out 0s;
                }
            }
            .hover-box {
                width: 100%;
                bottom: 0;
                left: 0;
                transition: all 0.5s ease-out 0s;
                transform-origin: 50% 100% 0px;
                transform: perspective(600px) rotateX(90deg);
                ul {
                    justify-content: space-between;
                }
                li {
                    width: 100%;
                    button {
                        width: 100%;
                        height: 4rem;
                        border: none;
                        font-size: 1.6rem;
                        line-height: 2.3;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 400;
                    }
                    .quick-view {
                        background-color: var(--ss-primary);
                    }
                    .add-cart {
                        background-color: var(--ss-secondary);
                    }
                }
            }
        }
        .product-pic:hover {
            .normal-pic {
                img {
                    display: none !important;
                    transition: all 250ms ease-in-out;
                }
            }
            .hover-pic {
                img {
                    display: block !important;
                    transition: all 250ms ease-in-out;
                }
            }
            .hover-box {
                transform: translate3d(0,0,0);
            }
        }
        .product-content {
            ul {
                li {
                    i {
                        width: 1.8rem;
                        height: 1.68rem;
                        color: #E8B52B;
                        font-weight: 600;
                    }
                }
            }
            h4 {
                font-size: 1.5rem;
                line-height: 2.2rem;
                margin: 1rem 0rem;
                font-weight: 500;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.9rem;
                margin: 0rem 0rem 1.1rem;
                font-weight: 400;
                color: #000;
            }
            h5 {
                font-size: 1.5rem;
                line-height: 2.2rem;
                font-weight: 600;
            }
        }
    }
}
/* Best Seller Area*/

/* Panorama Area*/
.panorama-area {
    background-color: #F2F2F2;
    overflow: hidden;
    .panorama-left {
        position: relative;
        .panorama-text {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 2.5rem;
            width: 6.5rem;
            background-color: var(--ss-secondary);
            flex-direction: column;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 3.2rem;
            text-align: center;
        }
        img {
            max-width: 45.4rem;
            width: 100%;
        }
        .break-all {
            word-break: break-all;
        }
        .w-min {
            width: min-content;
        }
    }
    .panorama_slider {
        .slick-dots {
            bottom: -5rem;
            text-align: left;
            .slick-active {
                button {
                    background-color: var(--ss-primary);
                }
            }
            li {
                margin: 0rem 5rem 0rem 0rem;
                height: 0;
                button {
                    font-size: 0;
                    width: 50px;
                    height: 3px;
                    padding: 1px;
                    background: #D5D5D5;
                    margin: 0 auto;
                    border-radius: 5px;
                }
            }
        }
        .slick-dots li button:before {
            display: none;
        }
        .slick-slide {
            opacity: 0;
            margin-right: 3.2rem;
        }
        
        .slick-current, .slick-active {
            opacity: 1;
        }
        .slick-active + .slick-slide {
            opacity: 1;
        }
        
        .slick-list.draggable {
            overflow: visible;
        }
        .panorama-right {
            padding-left: 4.3rem;
        }
        .product-pic {
            padding: 6.7rem 3.4rem;
            border: 1px solid #D0D0D0;
            background-color: #fff;
            margin-bottom: 2.4rem;
            // width: 30.6rem;
            transition: all 0.5s ease-out 0s;
            img {
                width: 23.8rem;
                height: 23.8rem;
            }
            .normal-pic {
                img {
                    transition: all 0.5s ease-out 0s;
                }
            }
            .hover-pic {
                img {
                    display: none !important;
                    transition: all 0.5s ease-out 0s;
                }
            }
            .hover-box {
                width: 100%;
                bottom: 0;
                left: 0;
                transition: all 0.5s ease-out 0s;
                transform-origin: 50% 100% 0px;
                transform: perspective(600px) rotateX(90deg);
                ul {
                    justify-content: space-between;
                }
                li {
                    width: 100%;
                    button {
                        width: 100%;
                        height: 4rem;
                        border: none;
                        font-size: 1.6rem;
                        line-height: 2.3;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 400;
                    }
                    .quick-view {
                        background-color: var(--ss-primary);
                    }
                    .add-cart {
                        background-color: var(--ss-secondary);
                    }
                }
            }
        }
        .product-pic:hover {
            .normal-pic {
                img {
                    display: none !important;
                    transition: all 250ms ease-in-out;
                }
            }
            .hover-pic {
                img {
                    display: block !important;
                    transition: all 250ms ease-in-out;
                }
            }
            .hover-box {
                transform: translate3d(0,0,0);
            }
        }
        .product-content {
            ul {
                li {
                    i {
                        width: 1.8rem;
                        height: 1.68rem;
                        color: #E8B52B;
                        font-weight: 600;
                    }
                }
            }
            h4 {
                font-size: 1.5rem;
                line-height: 2.2rem;
                margin: 1rem 0rem;
                font-weight: 500;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.9rem;
                margin: 0rem 0rem 1.1rem;
                font-weight: 400;
                color: #000;
            }
            h5 {
                font-size: 1.5rem;
                line-height: 2.2rem;
                font-weight: 600;
            }
        }
    }
}



/* Panorama Area*/












/*Min Width*/
@media screen and (min-width: 992px) {
    .navbar-nav li:hover > ul.dropdown-menu {
        top: 100%;
        transform: scale(1, 1);
        padding: 0;
    }
    .header-area {
        .tripod-area {
            li {
                a {
                    img {
                        max-width: 22.9rem;
                    }
                }
            }
        }
        .quick-release-area {
            li {
                a {
                    img {
                        max-width: 35.1rem;
                    }
                }
            }
            .quick-release-area-pic img {
                width: 208px;
            }
        }
        .camera-mounting-area {
            ul {
                .l-brackets {
                    p {
                        max-width: 26.3rem;
                    }
                }
                .camera-plates {
                    p {
                        max-width: 27.5rem;
                    }
                }
                .smart-phone {
                    p {
                        max-width: 29.4rem;
                    }
                }
                li {
                    a {
                        img {
                            max-width: 35.1rem;
                        }
                    }
                }
            }
        }
        .lens-mounting-area {
            ul {
                .lens-plate {
                    p {
                        max-width: 28.3rem;
                    }
                }
                .lens-collar {
                    p {
                        max-width: 28.5rem;
                    }
                }
                .lens-foot {
                    p {
                        max-width: 28.5rem;
                    }
                }
                li {
                    a {
                        img {
                            max-width: 21.6rem;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        transform: scale(1, 0);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        transition: all 300ms ease-in-out 0s;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        .dropdown-item {
            padding: 0;
        }
        .kes-leveling {
            p {
                max-width: 25.6rem;
            }
        }
        .monopod {
            p {
                max-width: 23.1rem;
            }
        }
            li {
                padding: 1rem;
                h4 {
                    color: #000;
                    font-size: 1.3rem;
                    line-height: 2.4rem;
                    font-weight: 600;
                    margin-bottom: 1.4rem;
                }
                p {
                    color: #000;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    max-width: 31rem;
                    margin-bottom: 2.1rem;
                }
                button {
                    @include btn-prop;
                }
                button:hover {
                    @include btn-prop-hover;
                }
                a {
                    color: #000;
                }
            }
        }
        .navbar-nav li:hover > a::after {
            transform: rotate(180deg);
            transition: all 300ms ease-in-out 0s;
        }
}
@media (min-width: 1199px) {
    .dropdown-menu {
        li {
            padding: 0rem;
            h4 {
                font-size: 1.7rem;
            }
        }
    }
}

@media screen and (min-width: 768px) { 
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: inherit;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
    }
}

@media (min-width: 1400px) {
    // .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    //     max-width: 1280px;
    // }
}
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }
}
@media (min-width: 1700px) {
}
/*Min Width*/

/*Max Width*/
@media (max-width: 1739.98px) {
}

@media (max-width: 1399px) {
    .middle-area {
        .logo {
            width: 20%;
            margin: 0rem 0rem 3rem 0rem;
        }
        .search-area {
            width: 60%;
            margin: 0rem 0rem 3rem 0rem;
            input {
                width: 100%;
            }
        }
    }
    .best-seller-area {
        .best_product_slider {
            .product-pic {
                width: 100%;
                img {
                    width: auto;
                    height: auto;
                }
                .hover-box {
                    li {
                        button {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    .panorama-area {
        .panorama-left {
            img {
                width: 100%;
            }
            .panorama-text {
                right: 0;
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
        .panorama_slider {
            margin-top: 2rem;
            .product-pic {
                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 1.2rem;
            }
        }
    }
    .panorama-area {
        .panorama-left {
            .panorama-text {
                font-size: 1.4rem;
                line-height: 2.2rem;
            }
        }
        .panorama_slider {
            .product-pic {
                .hover-box {
                    li {
                        button {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    #navbarSupportedContent {
        overflow: scroll;
        ul {
            li {
                margin: 0rem 1rem;
            }
        }
    }
    .dropdown-menu {
        li {
            padding: 1rem;
            h4,p {
                margin-bottom: 1rem;
            }
            button {
                @include btn-prop;
            }
            button:hover {
                @include btn-prop-hover;
            }
        }
    }
    .dropdown-item {
        a {
            text-align: center;
        }
        img {
            max-width: 10rem;
        }
    }
    .navbar-nav {
        margin: 0rem 0rem;
        align-items: start;
        .nav-item {
            .common_btn {
                margin-left: 0rem;
            }
            .nav-link {
                margin-left: 0rem;
                font-size: 1.6rem;
            }
            width: 100%;
            text-align: left;
            padding: 1rem 0rem;
            // border-bottom: 1px solid #ddd;
        }
        .nav-item:last-child {
            border: none;
        }
    }
    .dropdown-menu.show {
        padding: 0;
        background-color: none;
        border: none;
        border-radius: 0;
    }
    .line1 {
        top: 3.1rem;
        color: #fff;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--ss-secondary);
        content: "";
        position: absolute;
        right: 0rem;
    }
    .line2 {
        top: 2.2rem;
        color: #fff;
        width: 2rem;
        height: 0.2rem;
        background-color: var(--ss-secondary);
        content: "";
        position: absolute;
        right: 0rem;
    }
    .line3 {
        top: 1.2rem;
        color: #fff;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--ss-secondary);
        content: "";
        position: absolute;
        right: 0rem;
    }
    .dropdown-menu {
            li {
                .dropdown-item {
                    font-size: 1.4rem;
                    padding: 1rem 3rem;
                }
                a:hover {
                    background-color: var(--ss-primary);
                    color: #fff;
                }
                a {
                    color: #fff;
                }
                border-bottom: 1px solid var(--ss-primary);
            }
            li:last-child {
                border-bottom: none;
            }
        }
        .p-100 {
            padding: 7rem 0rem;
        }
        .common-banner {
            padding: 7rem 0rem;
            border-bottom: 1px solid var(--ss-primary);
            h1 {
                font-size: 4rem;
                line-height: 4rem;
            }
        }
        .middle-area {
            .search-area {
                margin: inherit;
                margin-bottom: 2rem;
            }
            .logo img {
                max-width: 15rem;
                margin-bottom: 0rem;
            }
            .logo {
                margin-bottom: 2rem;
            }
        }
        .banner-area {
            .banner_slider {
                .slick-dots {
                    bottom: 2.5rem;
                }
                .slider {
                    padding: 6rem 0rem;
                    .banner-left {
                        h2 {
                            font-size: 3.6rem;
                            line-height: 4.6rem;
                        }
                        h3 {
                            font-size: 3rem;
                            line-height: inherit;
                        }
                        h4 {
                            font-size: 2rem;
                            line-height: inherit;
                        }
                        button {
                            width: 15rem;
                            height: 5rem;
                            font-size: 1.7rem;
                        }
                    }
                    .banner-right {
                        img {
                            max-width: 26rem;
                        }
                    }
                }
            }
        }
        .best-seller-area {
            .best_product_slider {
                .product-pic {
                    padding: 2.5rem 1.5rem;
                    width: auto;
                    img {
                        width: auto;
                        height: auto;
                    }
                    .hover-box {
                        width: 100%;
                        ul {
                            justify-content: space-between;
                        }
                        li {
                            width: 100%;
                            button {
                                width: 100%;
                                height: 3rem;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
        .panorama-area {
            .panorama-left {
                .panorama-text {
                    width: 4.5rem;
                }
            }
            .panorama_slider {
                .product-pic {
                    .hover-box {
                        li {
                            button {
                                font-size: 1rem;
                                height: 3rem;
                            }
                        }
                    }
                }
            }
        }
}

@media screen and (max-width: 767px) {
    .top-bar {
        p {
            font-size: 1.2rem;
        }
    }
    #navbarSupportedContent ul li {
        margin: 0rem 0rem;
    }
    .navbar-nav {
        margin-top: 4rem;
    }
    .dropdown-menu.show {
        display: block;
    }
    .dropdown-menu {
        li {
            a {
                img {
                    max-width: 10rem;
                }
            }
        }
    }
    .middle-area {
        .logo {
            margin-bottom: 0rem;
        }
        .cart-area {
            .shopping-cart {
                margin-left: 1.2rem;
            }
            a {
                span {
                    right: inherit;
                    left: -16px;
                }
            }
        }
        .search-area {
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 0rem;
            input {
                width: 100%;
            }
        }
        .logo img {
            max-width: 10rem;
            margin-bottom: 0rem;
        }
    }
    .banner-area {
        .banner_slider {
            .slick-dots {
                bottom: 3.5rem;
            }
            .slider {
                padding: 5.5rem 0rem 10rem;
                .banner-left {
                    text-align: center;
                    h2 {
                        font-size: 3.6rem;
                        line-height: 4.6rem;
                    }
                    h3 {
                        font-size: 2.6rem;
                        line-height: 4.6rem;
                    }
                    h4 {
                        font-size: 2rem;
                        line-height: 3.6rem;
                    }
                    button {
                        width: 100%;
                        max-width: 20rem;
                        height: 5rem;
                    }
                }
                .banner-right {
                    float: none;
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .category-area {
        .category_slider {
            .slider {
                .cat-pic {
                    width: 15rem;
                    height: 15rem;
                }
            }
        }
    }
    .best-seller-area {
        .best_product_slider {
            .product-pic {
                padding: 2.5rem 0.5rem;
                img {
                    width: auto;
                    height: auto;
                }
                .hover-box {
                    li {
                        button {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    .panorama-area {
        .panorama-left {
            .panorama-text {
                line-height: 15px;
                width: 4.5rem;
                font-size: 1rem;
            }
            img {
                max-width: inherit;
            }
        }
        .panorama_slider {
            .product-pic {
                padding: 3rem 1rem;
                .hover-box {
                    li {
                        button {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .panorama-area {
        padding: 4rem 0rem;
        .panorama-left {
            text-align: center;
            .panorama-text {
                line-height: 2.5rem;
                width: 4.5rem;
                font-size: 1.4rem;
            }
        }
        .panorama_slider {
            .slick-slide {
                margin-right: 5rem;
            }
        }
    }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
}
/*Max Width*/